<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmr.IDao.AttendanceDetailMapper">
  <resultMap id="BaseResultMap" type="com.jmr.model.AttendanceDetail">
    <id column="detail_id" jdbcType="INTEGER" property="detailId" />
    <result column="fingerprint_id" jdbcType="INTEGER" property="fingerprintId" />
    <result column="avatar_id" jdbcType="INTEGER" property="avatarId" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
  </resultMap>
  <sql id="Base_Column_List">
    detail_id, fingerprint_id, avatar_id, is_delete, create_by, create_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_attendance_detail
    where detail_id = #{detailId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_attendance_detail
    where detail_id = #{detailId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jmr.model.AttendanceDetail">
    insert into t_attendance_detail (detail_id, fingerprint_id, avatar_id, 
      is_delete, create_by, create_at
      )
    values (#{detailId,jdbcType=INTEGER}, #{fingerprintId,jdbcType=INTEGER}, #{avatarId,jdbcType=INTEGER}, 
      #{isDelete,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR}, #{createAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jmr.model.AttendanceDetail">
    insert into t_attendance_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="detailId != null">
        detail_id,
      </if>
      <if test="fingerprintId != null">
        fingerprint_id,
      </if>
      <if test="avatarId != null">
        avatar_id,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createAt != null">
        create_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="detailId != null">
        #{detailId,jdbcType=INTEGER},
      </if>
      <if test="fingerprintId != null">
        #{fingerprintId,jdbcType=INTEGER},
      </if>
      <if test="avatarId != null">
        #{avatarId,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        #{createAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jmr.model.AttendanceDetail">
    update t_attendance_detail
    <set>
      <if test="fingerprintId != null">
        fingerprint_id = #{fingerprintId,jdbcType=INTEGER},
      </if>
      <if test="avatarId != null">
        avatar_id = #{avatarId,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where detail_id = #{detailId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jmr.model.AttendanceDetail">
    update t_attendance_detail
    set fingerprint_id = #{fingerprintId,jdbcType=INTEGER},
      avatar_id = #{avatarId,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=TIMESTAMP}
    where detail_id = #{detailId,jdbcType=INTEGER}
  </update>
</mapper>