<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmr.IDao.ClassMapper">
  <resultMap id="BaseResultMap" type="com.jmr.model.Class">
    <id column="class_id" jdbcType="INTEGER" property="classId" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="student_count" jdbcType="INTEGER" property="studentCount" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="responsible" jdbcType="VARCHAR" property="responsible" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
  </resultMap>
  <sql id="Base_Column_List">
    class_id, class_name, student_count, state, responsible, telephone, is_delete, create_by, 
    create_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_class
    where class_id = #{classId,jdbcType=INTEGER}
  </select>
  <select id="selectByPage" parameterType="int" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_class
    where is_delete = 0
    <if test="start!=null and length!=null">
    	limit #{length} offset #{start}
    </if>
  </select>
  <select id="selectByPageSQL" parameterType="int">
    select 
    t_class.class_id,t_class.class_name,t_class.student_count,t_class.responsible,t_class.telephone,t_class_series.class_series_name 
    from (t_class LEFT JOIN t_class_class_series ON t_class.class_id = t_class_class_series.class_id) LEFT JOIN t_class_series on t_class_class_series.class_series_id = t_class_series.class_series_id;
    where t_class.is_delete = 0
    <if test="start!=null and length!=null">
    	limit #{length} offset #{start}
    </if>
  </select>
  <select id="selectCount" resultType="int">
    select count(*)
    from t_class
    where is_delete = 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_class
    where class_id = #{classId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jmr.model.Class">
    insert into t_class (class_id, class_name, student_count, 
      state, responsible, telephone, 
      is_delete, create_by, create_at
      )
    values (#{classId,jdbcType=INTEGER}, #{className,jdbcType=VARCHAR}, #{studentCount,jdbcType=INTEGER}, 
      #{state,jdbcType=INTEGER}, #{responsible,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, 
      #{isDelete,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR}, #{createAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jmr.model.Class">
    insert into t_class
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="classId != null">
        class_id,
      </if>
      <if test="className != null">
        class_name,
      </if>
      <if test="studentCount != null">
        student_count,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="responsible != null">
        responsible,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createAt != null">
        create_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="classId != null">
        #{classId,jdbcType=INTEGER},
      </if>
      <if test="className != null">
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="studentCount != null">
        #{studentCount,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="responsible != null">
        #{responsible,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        #{createAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jmr.model.Class">
    update t_class
    <set>
      <if test="className != null">
        class_name = #{className,jdbcType=VARCHAR},
      </if>
      <if test="studentCount != null">
        student_count = #{studentCount,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="responsible != null">
        responsible = #{responsible,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where class_id = #{classId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jmr.model.Class">
    update t_class
    set class_name = #{className,jdbcType=VARCHAR},
      student_count = #{studentCount,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      responsible = #{responsible,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=TIMESTAMP}
    where class_id = #{classId,jdbcType=INTEGER}
  </update>
</mapper>