<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmr.IDao.AttendanceMapper">
  <resultMap id="BaseResultMap" type="com.jmr.model.Attendance">
    <id column="attendance_id" jdbcType="INTEGER" property="attendanceId" />
    <id column="deviceid" jdbcType="INTEGER" property="deviceid" />
    <id column="detail_id" jdbcType="INTEGER" property="detailId" />
    <result column="attendance_type" jdbcType="INTEGER" property="attendanceType" />
    <result column="datatime" jdbcType="TIMESTAMP" property="datatime" />
    <result column="attendance_state" jdbcType="INTEGER" property="attendanceState" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
  </resultMap>
  <sql id="Base_Column_List">
    attendance_id, deviceid, detail_id, attendance_type, datatime, attendance_state, 
    is_delete, create_by, create_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.jmr.model.AttendanceKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_attendance
    where attendance_id = #{attendanceId,jdbcType=INTEGER}
      and deviceid = #{deviceid,jdbcType=INTEGER}
      and detail_id = #{detailId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.jmr.model.AttendanceKey">
    delete from t_attendance
    where attendance_id = #{attendanceId,jdbcType=INTEGER}
      and deviceid = #{deviceid,jdbcType=INTEGER}
      and detail_id = #{detailId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jmr.model.Attendance">
    insert into t_attendance (attendance_id, deviceid, detail_id, 
      attendance_type, datatime, attendance_state, 
      is_delete, create_by, create_at
      )
    values (#{attendanceId,jdbcType=INTEGER}, #{deviceid,jdbcType=INTEGER}, #{detailId,jdbcType=INTEGER}, 
      #{attendanceType,jdbcType=INTEGER}, #{datatime,jdbcType=TIMESTAMP}, #{attendanceState,jdbcType=INTEGER}, 
      #{isDelete,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR}, #{createAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jmr.model.Attendance">
    insert into t_attendance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="attendanceId != null">
        attendance_id,
      </if>
      <if test="deviceid != null">
        deviceid,
      </if>
      <if test="detailId != null">
        detail_id,
      </if>
      <if test="attendanceType != null">
        attendance_type,
      </if>
      <if test="datatime != null">
        datatime,
      </if>
      <if test="attendanceState != null">
        attendance_state,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createAt != null">
        create_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="attendanceId != null">
        #{attendanceId,jdbcType=INTEGER},
      </if>
      <if test="deviceid != null">
        #{deviceid,jdbcType=INTEGER},
      </if>
      <if test="detailId != null">
        #{detailId,jdbcType=INTEGER},
      </if>
      <if test="attendanceType != null">
        #{attendanceType,jdbcType=INTEGER},
      </if>
      <if test="datatime != null">
        #{datatime,jdbcType=TIMESTAMP},
      </if>
      <if test="attendanceState != null">
        #{attendanceState,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        #{createAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jmr.model.Attendance">
    update t_attendance
    <set>
      <if test="attendanceType != null">
        attendance_type = #{attendanceType,jdbcType=INTEGER},
      </if>
      <if test="datatime != null">
        datatime = #{datatime,jdbcType=TIMESTAMP},
      </if>
      <if test="attendanceState != null">
        attendance_state = #{attendanceState,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where attendance_id = #{attendanceId,jdbcType=INTEGER}
      and deviceid = #{deviceid,jdbcType=INTEGER}
      and detail_id = #{detailId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jmr.model.Attendance">
    update t_attendance
    set attendance_type = #{attendanceType,jdbcType=INTEGER},
      datatime = #{datatime,jdbcType=TIMESTAMP},
      attendance_state = #{attendanceState,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=TIMESTAMP}
    where attendance_id = #{attendanceId,jdbcType=INTEGER}
      and deviceid = #{deviceid,jdbcType=INTEGER}
      and detail_id = #{detailId,jdbcType=INTEGER}
  </update>
</mapper>