<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmr.IDao.IntsitutionsTeacherMapper">
  <resultMap id="BaseResultMap" type="com.jmr.model.IntsitutionsTeacher">
    <id column="institutions_id" jdbcType="INTEGER" property="institutionsId" />
    <id column="teacher_id" jdbcType="INTEGER" property="teacherId" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
  </resultMap>
  <sql id="Base_Column_List">
    institutions_id, teacher_id, is_delete, create_by, create_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.jmr.model.IntsitutionsTeacherKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_institutions_teacher
    where institutions_id = #{institutionsId,jdbcType=INTEGER}
      and teacher_id = #{teacherId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.jmr.model.IntsitutionsTeacherKey">
    delete from t_institutions_teacher
    where institutions_id = #{institutionsId,jdbcType=INTEGER}
      and teacher_id = #{teacherId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jmr.model.IntsitutionsTeacher">
    insert into t_institutions_teacher (institutions_id, teacher_id, is_delete, 
      create_by, create_at)
    values (#{institutionsId,jdbcType=INTEGER}, #{teacherId,jdbcType=INTEGER}, #{isDelete,jdbcType=INTEGER}, 
      #{createBy,jdbcType=VARCHAR}, #{createAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jmr.model.IntsitutionsTeacher">
    insert into t_institutions_teacher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="institutionsId != null">
        institutions_id,
      </if>
      <if test="teacherId != null">
        teacher_id,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createAt != null">
        create_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="institutionsId != null">
        #{institutionsId,jdbcType=INTEGER},
      </if>
      <if test="teacherId != null">
        #{teacherId,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        #{createAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jmr.model.IntsitutionsTeacher">
    update t_institutions_teacher
    <set>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where institutions_id = #{institutionsId,jdbcType=INTEGER}
      and teacher_id = #{teacherId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jmr.model.IntsitutionsTeacher">
    update t_institutions_teacher
    set is_delete = #{isDelete,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=TIMESTAMP}
    where institutions_id = #{institutionsId,jdbcType=INTEGER}
      and teacher_id = #{teacherId,jdbcType=INTEGER}
  </update>
</mapper>